/* En el body cambiem la font de lletra i fem el border negre */
body{
    border: 3px solid black;
    font-family: 'Nunito', sans-serif;
}
/* El header es la capçalera on presentem la Práctica i centrem el text */
header{
    text-align: center;
    border: 3px solid darkgreen;
}
#Container{
    border: 2px solid darkcyan;
    margin: auto;
    max-width: 1000px;
    display: flex; 
    padding: 20px;
}
#main{
    border: 3px solid red;
}
article{
    border: 3px solid darkblue;
    flex: 90%;
    padding: 10px;
}
#icones{
    border: 1px solid cyan;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
    
    
}
.icon{
    border: 3px solid violet;
    text-align: center;
    max-width: 25%;
    flex: 30%;
    margin: 0.8%;
    padding: 2%;
}
.icon-img > img{
    border: 1px solid green;
}
h1{
    border: 1px solid green;
    text-align: center;
}
h2{
    border: 1px solid green;
    color:darkcyan;
}
h3{
    border: 1px solid green;
}
p{
    border: 1px solid green;
}
a{
    border: 1px solid green;
}
#Aside{
    border: 3px solid greenyellow;
    flex: 8%;
}
.Menu{
    text-align: center;
    border: 2px solid grey;
    padding-right: 20%;
    margin: 30px;
    min-width: 70px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;

}
footer{
    background-color: lightgrey;
    border: 1px solid darkcyan;
    text-align: right;
    margin: 2%;
}
#image > img{    
    border: 1px solid darkcyan;
    width: 100%;
    height: 100%;
}
